.form-products {
  position: relative;
  width: 450px;
  left: 10px;
}

.logout {
  position: absolute;
  left: 1015px;
  top: 20px;
  padding: 5px !important;
}

.table-1 {
  position: absolute;
  width: 550px;
  overflow-y: scroll;
  height: 238px;
  top: 100px;
  left: 20px;
  overflow-x: hidden;
  /*display: flex;
  flex-wrap: wrap;*/

}

.table-1 table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  .table-1 td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  .table-1 tr:nth-child(even) {
    background-color: #dddddd;
  }

  .tbl-butt {
    display: flex;
    position: absolute;
    top: 320px;
    left: 140px;
    flex-wrap: wrap;
}

.Addbutt {
  position: absolute;
  top: -219px;
  left: 446px;
}

.table-1 .search-container {
  float: right;
  padding: 5px 5px 10px 0px;
}

.table-1 input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}

.table-1 .search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.table-1 .search-container button:hover {
  background: #ccc;
}

@media screen and (max-width: 600px) {
  .table-1 .search-container {
    float: none;
  }
  .table-1 a, .table-1 input[type=text], .table-1 .search-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .table-1 input[type=text] {
    border: 1px solid #ccc;  
  }
}

