.form-products {
  position: relative;
  width: 450px;
  left: 10px;
}

.logout {
  position: absolute;
  left: 1015px;
  top: 20px;
  padding: 5px !important;
}

.table-1 {
  position: absolute;
  width: 550px;
  overflow-y: scroll;
  height: 238px;
  top: 100px;
  left: 20px;
  overflow-x: hidden;
  /*display: flex;
  flex-wrap: wrap;*/

}

.table-1 table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  .table-1 td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  .table-1 tr:nth-child(even) {
    background-color: #dddddd;
  }

  .tbl-butt {
    display: flex;
    position: absolute;
    top: 320px;
    left: 140px;
    flex-wrap: wrap;
}

.Addbutt {
  position: absolute;
  top: -219px;
  left: 446px;
}
